.imgentete{
    background-image:url(../images/bg_header.jpg);
    height:30vh;
    background-position: center;
    background-size: cover;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menuburger{
    display: block;
    height: 50px;
    width: 50px;
}
/* Format téléphone */
@media screen and (max-width: 400px){
    h1{display:none;}
    ul{display: none;}
    .imgentete{
        background-size: contain;
        background-repeat: no-repeat;
        height: 150PX;
        }

        .menuburger{
            height: 25px;
            width: 25px;
        }
    

}

/* Format tablette */
@media screen and (min-width: 401px) and (max-width: 1000px) {
    ul{display: none;}
    .imgentete{background-image: url(../images/bg_footer.jpg);}

}

/* Format ordinateur */
@media screen and (min-width: 1001px){
    img.menuburger{display: none;}

}
